<div class="row">
  <div class="col-xs-12">

    <app-shared-navigation> </app-shared-navigation>
    <h2>
      Activities
    </h2>

    <!-- <ul>
      <li *ngFor="let item of activities">
        {{item.title}}
        <ul>
          <li *ngFor="let signup of item.signups">
            {{signup.name.firstname}} - {{signup.name.lastname}}<br> Birthday {{signup.birthday}}<br> EMail {{signup.email}}
          </li>
        </ul>
        <hr>
      </li>
    </ul> -->


    <!-- <ul>
      <li *ngFor="let item of activitiesListSnapshot | async">
        {{item.title}}<br> Count: {{item.signupsCount}}
        <hr>
      </li>
    </ul> -->
    <h1>List of activities</h1>
    <ul>
      <li *ngFor="let item of activitiesListStatic">
        {{item.title}}<br> Count: {{item.signupsCount}}
        <hr>
      </li>
    </ul>

    <h1>1 activity</h1>
    <div *ngIf="activityStatic">
      {{activityStatic.title}}<br> Count: {{activityStatic.signupsCount}}
      <form name="update">

        <input [(ngModel)]="activityStatic.title"
          name="newTitle">
        <button (click)="updateOneActivity()">Update</button>

      </form>
    </div>

  </div>
</div>