<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular 5 Firebase Cloud Firestore
  </h1>
</div>

<table>

  <thead>
    <tr>
      <td>Firstname</td>
      <td>Lastname</td>
      <td>Birthday</td>
      <td>Email</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.birthday}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>

</table>

<button (click)="addUser()">Add user</button>