<div class="row">
  <div class="col-12">

    <h1>
      Angular 5 Firestore Cloud
    </h1>

    <nav>
      <button class="btn btn-primary"
        routerLink="/bookings"
        routerLinkActive="active">Bookings</button>
      <button class="btn btn-primary"
        routerLink="/activities"
        routerLinkActive="active">Activities</button>
      <button class="btn btn-primary"
        routerLink="/chat"
        routerLinkActive="active">Chat</button>
      <button class="btn btn-primary"
        routerLink="/users"
        routerLinkActive="active">Users</button>
      <button class="btn btn-warning"
        (click)="logout()">Log Out</button>
    </nav>

  </div>
</div>