.list-group {
  overflow: auto;
  height: 83vh; // padding: 0;
  // margin: 0;
  .list-group-item {
    // color: rgb(0, 0, 0);
    // background-color: rgb(206, 206, 206);
    cursor: pointer; // border: 1px solid #4C4C4C;
    // padding: 5px;
    // margin-bottom: 2px;
    // list-style: none;
  }
}

.list {
  height: 93vh;
}

.list-top {
  height: 10vh;
}